/*
 * Reskin NetFlix red.
 */
.ui-widget-header {
	background: #123161;
	border: 1px solid black;
}
#title {
	color: #123161;
	text-shadow: none;
}
.ui-tabs-nav .ui-state-active,.ui-tabs-nav .ui-state-active a {
	color: #009dbf !important;
}

/*
 * Kik config:
 */
#kikconfig-group
{
    line-height: 2em;
}

#kikconfig-group label
{
    float: left;
    width: 200px;
}

#kikconfig-group select
{
    float: left;
}
 
#configTable table {
	width: 100%;
	padding-top: 1em;
}

#configTable tr.even {
	background-color: #eee;
}

#configTable tr.config-hl {
	background-color: #f1e276;
}

thead td {
	background-color: #123161;
	color: white;
	font-size: 1.2em;
	padding: 0.2em;
}

#configTable input,
#configTable select {
	width: 170px;
	float: left;
}

.kikconfig-name {
	width: 230px;
	/* text-align: right; */
	padding-right: 5px;
}

.kikconfig-value {
	width: 230px;
}

.kikconfig-type {
	width: 100px;
	text-align: center;
}

.config-button {
	margin-left: 4px;
	width: 23px !important;
	float: right !important;
	display: none;
}

.config-save {
	color: #0c0;
}

.config-revert {
	color: #c00;
}
